{% load static %}
<header>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-sm-auto">
                <a class="text-decoration-none" href="{% url 'home'%}">
                    <img src="{% static '/assets/images/logo-sigal.svg' %}" style="max-height: 60px; max-width: 60px;">
                </a>
            </div>
            <div class="col">
                <span class="fs-5 fw-bold">SIGAL<br/></span>
                <span class="fs-6">Sistema de Gestão de Almoxarifado</span>
            </div>
            {# Sessão do template dedicada a exibir o botão de Carrinho e Logout #}
            {% if user.is_authenticated %}
            {# Verifica se existe um user logado#}
                <div class="col text-end align-self-center">
                    <a class="btn position-relative" href="{% url 'detail-carrinho'%}" role="button">
                        <img style="max-width: 32px; max-height: 32px;" src="{% static '/assets/images/cart.svg' %}" alt="carrinho">
                        {% if request.COOKIES.totalCarrinho > 0 %}
                        {# Verifica se existe algum item no carrinho para exibir o contador #}
                        <span class="position-absolute top-100 start-0 translate-middle p-2 badge rounded-pill bg-info">
                            {{request.COOKIES.totalCarrinho}}<span class="visually-hidden">Itens no Carrinho</span>
                            {# Atualiza com a quantidade de itens no carrinho #}
                        </span>
                        {% endif %}
                    </a>
                    <a class="btn btn-danger" href="{% url 'logout'%}" role="button">Logout</a>
                </div>
            {% endif %}
        </div>
    </div>
</header>
{% include 'partials/alertas.html' %}