{% load static %}
<header>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-sm-auto">
                <a class="text-decoration-none" href="{% url 'home'%}">
                    <img src="{% static '/assets/images/logo-sigal.svg' %}" style="max-height: 60px; max-width: 60px;">
                </a>
            </div>
            <div class="col">
                <span class="fs-5 fw-bold">SIGAL<br/></span>
                <span class="fs-6">Sistema de Gestão de Almoxarifado</span>
            </div>
            {% if user.is_authenticated %}
                <div class="col text-end align-self-center">
                    <a class="btn" href="{% url 'detail-carrinho'%}" role="button"><img style="max-width: 32px; max-height: 32px;" src="{% static '/assets/images/cart.svg' %}" alt="carrinho"></a>
                    <a class="btn btn-danger" href="{% url 'logout'%}" role="button">Logout</a>
                </div>
            {% endif %}
        </div>
    </div>
</header>
{% include 'partials/alertas.html' %}