{% extends 'shared/base.html' %}
{% load static %}

{% block title %}
 - Carrinho
{% endblock %}

{% block content %}
<body>
    <script src="{% static '/scripts/autoSubmit.js' %}"></script>
    <div class="container-sm">
        <div class="row">
            <div class="col text-center mx-auto">
                <a href="{% url 'list-material'%}" class="btn btn-dark">Estoque</a>
            </div>
        </div>
        {% if itemCarrinho %}
            <table class="table table-striped align-middle">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">Foto</th>
                        <th class="text-center" scope="col">Material</th>
                        <th class="text-center" scope="col">Quantidade</th>
                        <th class="text-center" scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in itemCarrinho %}
                        <tr class="text-center">
                            {% if item.item.foto == "" or item.item.foto == null %}
                                <td><img class="img-thumbnail" style="max-width: 64px; max-height: 64px;" src="{% static '/assets/images/not-found.svg' %}" alt="foto"></td>
                            {% else %}
                                <td><img class="img-thumbnail" style="max-width: 64px; max-height: 64px;" src="{{ item.item.foto.url }}" alt="foto"></td>
                            {% endif %}
                            <td>{{ item.itemDesc }}</td>
                            <td>
                                <form id="qtdForm-{{item.item.id}}" action="{% url 'upd-carrinho' item.item.id %}" method="get">
                                    <div class="input-group">
                                        <input class="form-control" name="qtd" type="number" value="{{ item.qtd }}" onchange="enviaQtd({{item.item.id}})">
                                    </div>
                                </form>
                            </td>
                            <td>
                                <a class="btn btn-dark" href="{% url 'rem-carrinho' item.item.id %}" role="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr class="text-center">
                        <td></td>
                        <td>Total:</td>
                        <td>{{ totalItems }}</td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>

            <div class="col text-center">
                <a href="" class="btn btn-dark">Enviar Requisição</a>
            </div>
        {% else %}
            <p>Seu Carrinho está vazio.</p>
        {% endif %}
    </div>
</body>

{% endblock %}