{% load static %}

<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/x-icon" href="{% static '/assets/images/favicon-sigal.svg' %}">

        <!-- Adicionar o block title quando for criar os templates automáticos -->
        <title>SIGAL</title>

        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>

    <body>
        <div class="container-sm">
            <header>
                <div class="container mt-5 mb-5">
                    <div class="row">
                        <div class="col-sm-auto">
                            <img src="{% static '/assets/images/logo-sigal.svg' %}" style="max-height: 60px; max-width: 60px;">
                        </div>
                        <div class="col">
                            <span class="fs-5 fw-bold">SIGAL<br/></span>
                            <span class="fs-6">Sistema de Gestão de Almoxarifado</span>
                        </div>
                    </div>
                </div>
            </header>
            <form class="mx-auto" style="max-width: 600px;">
                <div class="mb-3 mt-3 mx-auto" style="max-width: 200px;">
                    <img src="{% static '/assets/images/logo-sigal.svg' %}">
                </div>
                <h1 class="text-center fw-bold">Boas Vindas ao SIGAL</h1>
                <div class="mb-3">
                    <label for="InputLogin" class="form-label">Nome de Usuário</label>
                    <input type="text" class="form-control" id="InputLogin">
                </div>
                <div class="mb-3">
                    <label for="InputPassword" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="InputPassword">
                </div>
                <div class="mb-3 text-center">
                    <button type="submit" class="btn btn-dark">Acessar</button>
                </div>
            </form>
        </div>
    </body>
</html>
