{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
<body>
    <div class="container-sm">
        <form class="mx-auto" style="max-width: 600px;">
            <div class="mb-3 mt-3 mx-auto" style="max-width: 200px;">
                <img src="{% static '/assets/images/logo-sigal.svg' %}">
            </div>
            <h1 class="text-center fw-bold">Boas Vindas ao SIGAL</h1>
            <div class="mb-3 mt-5">
                <label for="InputLogin" class="form-label">Usuário</label>
                <input type="text" class="form-control" id="InputLogin">
            </div>
            <div class="mb-3">
                <label for="InputPassword" class="form-label">Senha</label>
                <input type="password" class="form-control" id="InputPassword">
            </div>
            <div class="mb-3 text-center">
                <button type="submit" class="btn btn-dark">Acessar</button>
            </div>
        </form>
    </div>
</body>
{% endblock %}
