{% load static %}
<table class="table table-striped align-middle">
    <thead>
        <tr class="text-center">
            <th scope="col">ID</th>
            <th scope="col">Envio</th>
            <th scope="col">Items</th>
            <th scope="col">Status</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% if cards %}
        {% for item in cards %}
        <tr class="text-center">
            <td>{{item.id}}</td>
            <td>{{item.dateReq|date:'d/m/Y - H:i'}}</td>
            <td>
                {% for material in item.requisitionitem_set.all %}
                <div class="row row-cols-auto">
                    {% if material.itemMat.foto == "" or material.itemMat.foto == null %}
                        <img class="img-thumbnail" style="max-width: 64px; max-height: 64px;" src="{% static '/assets/images/not-found.svg' %}" alt="foto">
                    {% else %}
                        <img class="img-thumbnail" style="max-width: 64px; max-height: 64px;" src="{{ material.itemMat.foto.url }}" alt="foto">
                    {% endif %}
                    <p class="text-start text-wrap">
                        {{material}}
                    </p>
                </div>
                {% endfor%}
            </td>
            <td>{{item.status}}</td>
            <td>
                <a class="btn btn-dark" href="{% url 'view-requisition' item.id %}" role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                </a>
                {% if perms.requisition.change_requisition %}
                    <a class="btn btn-dark" href="{% url 'home' %}" role="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                        </svg>
                    </a>
                {% endif %}
            </td>
        </tr>
        {% endfor%}
        {% else %}
        {% endif %}
    </tbody>
</table>