{% load static %}

<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/x-icon" href="{% static '/assets/images/favicon-sigal.svg' %}">
        
        <title>SIGAL{% block title %}{% endblock %}</title>

        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        {% include 'partials/header.html' %}
        {% include 'partials/navbar.html' %}
        {% include 'partials/alertas.html' %}        
        {% block content %}{% endblock %}
        {% include 'partials/footer.html' %}
    </body>
</html>